.depliable{
  .gachette{font-weight: bold;
    i{ color:$yellow; }
  }
  .gachette:hover{background-color:$gray-100;border-radius: $border-radius;cursor: pointer;}
  .depliant{display:none;padding:1em;margin: 1em 0;
    border: 1px solid $gray-100;border-radius: $border-radius;}

}
.depliable.no-svg{
  i.fa-arrow-circle-right,i.fa-arrow-circle-down{ display: none; }
  svg.fa-arrow-circle-right,svg.fa-arrow-circle-down{ display: none; }
}
.depliable.deplie{
  .depliant{display:block;}

}

.voir_plus{
  position:relative;
  overflow:hidden;
  margin-bottom: 0;
  .voile_degrade{
    position:absolute;
    height: 60px;
    width: 100%;
    bottom:0;
    background: linear-gradient(177deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    margin:0;

  }
}