//////////////////////////////////////////////////////////////////////////
//////////////////// typeahead /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

.twitter-typeahead{
  width: 100%;
  .tt-query, .tt-hint {
    margin-bottom: 0;
  }

}
.form-inline{
  .twitter-typeahead{
    width: auto;
  }
}



.tt-menu {
  min-width: 250px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 100%;

  .empty-message {padding: 5px;}

}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion:hover {
  color: #fff;
  cursor: pointer;
  background-color: $primary;

}

.tt-suggestion:hover a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-cursor {
  background-color: $primary;
  color: $white;
}