{% extends 'base.html.twig' %}

{% block title %}Glinglin{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box">

                    <div class="box-header">
                        <h3 class="box-title">Taches</h3>
                    </div>

                    <div class="box-body">
                        <table class="table">
                            <thead>
                            <th>Catégorie</th>
                            <th>Intitulé</th>
                            <th>Descriptif</th>
                            <th>priorite</th>
                            <th>Etat</th>
                            </thead>
                            <tbody>
                            {% for evt in evts %}
                                <tr>
                                    <td>
                                        {% if evt.categories is not empty %}
                                            <ul class="categorie list-inline">
                                                {% for cat in evt.categories %}
                                                    <li class="list-inline-item badge text-bg-info">{{ cat }} </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                    <td>{{ evt.titre }}</td>
                                    <td>{{ evt.descriptif }}</td>
                                    <td> {% if evt.priorite %}
                                        {{ evt.prioriteInFrench }}
                                        {% endif %}.
                                    </td>
                                    <td>{{ evt.statutInFrench??'' }}
                                        {% if evt.statut=='IN-PROCESS' %}
                                            {{ evt.avancement }} %
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
