{% if tab_filtres['second'] is defined %}
    {% for titre,groupe_filtre_col in tab_filtres['second']  %}
        <div class="panneau"  id="panneau_{{ titre }}">
            <div class="row">
            {% for titre_colonne,groupe_filtre in groupe_filtre_col  %}
                <div class="col-lg-2">
                    {% include 'inclure/filtres.html.twig' with {'filtres': groupe_filtre} %}
                </div>
            {% endfor %}
            </div>
            <div class="clearfix"></div>
            <div class="btn-group btn-validation">
                <a class="btn btn-primary btn-ok">Valider</a>
            </div>
        </div>
    {% endfor %}
{% endif %}


