{#
Ce code est appelé par les tableaux pour voir, modifier et supprimer
il peut etre integrer dans le taleau pour ajouter des conditionalités
#}
{% if objet_param is  defined %} {% set objet = objet_param %} {% endif %}
{% if id_param is defined %}{{ id_param }} {% set id = id_param %} {% endif %}
{% set param = {'objet':objet,'id':id} %}

<div class="btn-group" role="group" >

    {{ bouton('voir',param) }}

    {{ bouton('modifier',param) }}

    {{ bouton('supprimer',param) }}

</div>