<footer class="main-footer clearfix">
        <div class="float-end">
            <small> Version {{ version }}</small>
        </div>
        <strong><a href="https://framagit.org/declic3000/glinglin">{{ application_nom }}</a></strong>
        <small><a href="https://fr.wikipedia.org/wiki/Logiciel_libre">Logiciel Libre</a></small>
</footer>