<form id="form_rgpd" action="{{ path('rgpd')}}" method="POST" class="ajaxjson_form form-inline">
    <div class="row">

        {% include ('inclure/form_rgpd_f.html.twig')  %}
        <div class="col-12 col-md-12  ">
            <div class="d-grid gap-2">
                <button type="submit" name="envoyer" class="btn btn-block btn-primary ml-2">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
