<form id="form_caractere" action="{{ path('caractere',{'redirect':url_courante()}) }}" method="POST" class="ajaxjson_form form-inline">
    <div class="row">
        {% include ('inclure/form_caractere_f.html.twig')  %}
        <div class="col-12 col-md-12  ">
            <div class="d-grid gap-2">
                <button type="submit" name="envoyer" class="btn btn-block btn-primary ml-2">Enregistrer</button>
            </div>
        </div>
    </div>
</form>