{% form_theme form with ['form_large.html.twig'] %}
{% if texte is defined %}
    <p>{{ texte }}</p>
{% endif %}
{%  if form_schema is defined and form_schema is not empty %}
    {{ form_start(form, {style: 'horizontal','label_col': 3, 'widget_col': 9 })  }}
    {% include(form_schema~'/form_schema.html.twig') with {'form':form} only %}
    {{ form_end(form) }}
{% else %}
    {{ form(form) }}
{% endif %}
{{ include('inclure/form_js.html.twig') }}