{% set tab_rgpd = tab('rgpd_question') %}
{% if tab_rgpd is not empty %}
    <div class="col-auto  my-2">
        {% for question in tab_rgpd %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox"  name="rgpd[]" id="rgpd{{ question.id }}" value="{{ question.id }}" {% if rgpd[question.id] is defined and  rgpd[question.id]==1  %} checked="checked"{% endif%} />
                <label class="form-check-label" for="rgpd{{ question.id }}"> {{ question.nom }} <small> - {{ question.texte }} </small> </label>
            </div>
        {% endfor %}
    </div>
{% endif %}

