<form id="form_ident" action="{{ path('cuisson',{'redirect':url_courante()}) }}" method="POST" class="form-inline">
    <div class="row">
        <div class="col-12 text-center">
            <label class="visually-hidden" for="autoSizingInputGroup">Nom / pseudo</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" name="nom" required="required" id="nom" placeholder="Nom ou pseudo" />
            </div>
        </div>
        <div class="col-12  my-2">
            <label class="visually-hidden" for="autoSizingInputGroup">Email</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre email (facultatif)" />
                <div class="btn btn-outline-info"
                     data-bs-trigger="hover focus"
                     data-bs-placement="bottom"
                     data-bs-toggle="popover" data-bs-title="Information"
                     data-bs-content="La saisie de l'adresse email est facultative,
                        Cette informations ne sera visible que par les administrateurs·rices afin d'éventuellement vous prévenir d'un changement sur
                un créneau sur lequel vous vous êtes inscrits·es."">

                    <i class="fa fa-info-circle" ></i>
                </div>
            </div>
        </div>
    {% if conf('module.sms') %}
        <div class="col-12  my-2">
            <label class="visually-hidden" for="autoSizingInputGroup">Telephone</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa fa-mobile-alt"></i></div>
                <input type="tel" class="form-control" name="telephone" id="telephone" placeholder="Votre numero (facultatif)" />
                <div class="btn btn-outline-info"
                     data-bs-trigger="hover focus"
                     data-bs-placement="bottom"
                     data-bs-toggle="popover" data-bs-title="Information"
                     data-bs-content="La saisie du numéro de téléphone est facultive,
                        Cette informations ne sera visible que par les administrateurs·rices afin d'éventuellement vous prévenir pas sms d'un changement sur
                    un créneau sur lequel vous vous êtes inscrits·es.">
                    <i class="fa fa-info-circle" ></i>
                </div>
            </div>
        </div>
        {% endif %}
    {% if conf('module.caracteristique') %}
        <div class="depliable">
            <div class="gachette">
                Définir ses aptitudes
            </div>
            <div class="depliant">
                {% include ('inclure/form_caractere_f.html.twig')  %}
            </div>
        </div>
    {% endif %}
    {% if conf('module.rgpd') %}
        <div class="depliable">
            <div class="gachette">
                Définir ses consentements
            </div>
            <div class="depliant">
                {% include ('inclure/form_rgpd_f.html.twig')  %}
            </div>
        </div>
    {% endif %}




        <div class="col-12 col-md-12  my-2">
            <div class="d-grid gap-2">
                <button type="submit" name="envoyer" class="btn btn-block btn-primary ml-2">S'identifier</button>
            </div>
        </div>




    </div>
</form>