{% set tab_car = tab('caracteristique') %}
{% if tab_car is not empty %}
    <div class="col-auto  my-2">
        {% for carac in tab_car %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox"  name="carac[]" id="carac{{ carac.id }}"  value="{{ carac.id }}"{% if carac.id in caracteres %} checked="checked"{% endif%} />
                <label class="form-check-label" for="carac{{ carac.id }}">{{ carac.symbole }} {{ carac.nom }}  <small> - {{ carac.descriptif }} </small></label>
            </div>
        {% endfor %}
    </div>
{% endif %}


