<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>{% block title %} {{  application_nom|trans~' - '~(sac('page')|trans)}} {% endblock %}{%if organisation is not empty %} - {{ organisation }}{%endif%}</title>

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Faire savoir que l'on sera là !">
<meta name="author" content="GuillaumeW">
<meta name="viewport" content="width=device-width">


<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
<link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}"/>
<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?version={{ version|replace({".":'-'}) }}" type="text/css" title="Main CSS" media="screen, print"/>
<link rel="stylesheet" href="{{ asset('assets/css/styles_print.css') }}?version={{ version|replace({".":'-'}) }}" type="text/css" media="print"/>
<link rel="stylesheet" href="{{ path('css_personalisation') }}" type="text/css" />
