<script type="application/javascript">
    var glinglin = {
        'urls': {
            'calendrier_evts': "{{ path('calendrier_evts') }}",
            'agenda_nouveaute': "{{ path('agenda_nouveaute') }}"
        }
    }
    {% block javascripts_vars %}{% endblock %}
</script>
<script src="{{ asset('assets/js/scripts.js') }}?version={{ version|replace({".":'-'}) }}" type="text/javascript"></script>
{% if js_suppl is defined %}
    <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js?version={{ version|replace({".":'-'}) }}" type="text/javascript"></script>
{% endif %}