<div class="box box-secondary informations">
    <div class="box-header">
        <h4><i class="fa fa-clock" aria-hidden="true"></i> {{ 'historique'|trans }}</h4>
    </div>

        <dl class="dl-horizontal">
            <dt>{{ 'Création'|trans }}:</dt>
            <dd>{{ objet_data.createdAt|date('d/m/Y') }}

            </dd>
            {% if objet_data.createdAt!=objet_data.updatedAt %}
                <dt>{{ 'Dernière modification'|trans }}:</dt>
                <dd>
                    {{ objet_data.updatedAt|date('d/m/Y') }}
                </dd>
            {% endif %}
        </dl>
        <div class="lazyload" data-url="{{ data_url }}"></div>
</div>