<div id="identite" class="m-1">
    {% set identite = identite() %}

    {% if not identite.ok %}
        <div class="row">
            {% include ('inclure/form_identite.html.twig')  %}



        </div>

    {% else %}
        <div class="col-md-12">
            <div class="d-flex justify-content-between flex-column">
                <div class="mx-2">
                    <div class="btn btn-primary btn-modal" data-selecteur="identite_modal" data-title="Qui es tu ?">
                    <img src="{{ avatar(identite.cle, '', 20) }}" alt="{{ identite.nom }}" />  {{ identite.nom }}
                        <span class="caracteristiques">
                            {% if caracteres is not empty  %}
                                {% for id_caract in caracteres %}
                                    {% set caract = tab('caracteristique.'~id_caract) %}
                                        <span title="{{ caract.nom }} - {{ caract.descriptif }}">{{ caract.symbole }} </span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="identite_modal" class="d-none">
            <div class="text-center">
            <div class="logo">
                <img src="{{ avatar(identite.cle, '', 50) }}" alt="{{ identite.nom }}" />
            </div>
            <div class="nom">
               {{ identite.nom }}
            </div>
            <div class="email">
                {% if identite.email is not empty %} <a href="mailto:{{ identite.email }}" title="{{ identite.email }}" id="lien_identite_email"> <i class="fa fa-envelope"></i> {{ identite.email }}</a>{% endif %}
            </div>
            <div class="telephone">
                {% if (identite.telephone is defined and identite.telephone is not empty) %} <a href="mailto:{{ identite.telephone }}" title="{{ identite.telephone }}" id="lien_identite_telephone"> <i class="fa fa-phone"></i> {{ identite.telephone }}</a>{% endif %}
            </div>

                <div class="m-4">
                    <a href="{{ path('adios',{'redirect':url_courante()}) }}" class="btn btn-sm btn-secondary" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                </div>

            </div>
                <hr/>
                <div class="depliable text-justify">
                    <div class="gachette">
                        Définir ses aptitudes
                    </div>
                    <div class="depliant">
                    {% include ('inclure/form_caractere.html.twig')  %}
                    </div>
                </div>

                <hr/>
                <div class="depliable ">
                    <div class="gachette">
                        Définir ses consentements
                    </div>
                    <div class="depliant text-justify">
                        {% include ('inclure/form_rgpd.html.twig')  %}
                    </div>
                </div>




        </div>
    {% endif %}

</div>