{%  if titre is not defined %}
    {% set titre = label %}
{% endif %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-modal="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ titre }}</h4>
            </div>
            <div class="modal-body">
               {{ contenu|raw }}
            </div>
        </div>
    </div>
</div>
{%  if js is defined and js is not empty %}
<script type="application/javascript">
    {% include 'js/'~ js ~'.js.twig' with { 'id':id, 'options': js_options } %}
</script>
{% endif %}
