{% set objet_blocs = sac( 'description.'~objet~'.objet1' ) %}
{% for objet_bloc in objet_blocs %}
    {%  set alias = descr(objet_bloc~'.twig.table') %}
    {%  set alias_valeur = descr(objet_bloc~'.alias_valeur') %}
    {%  set objet_bloc_sans_sr = descr(objet_bloc~'.objet_sans_sr') %}
    {%  set gere = pref(objet_bloc~'.affichage') %}
    {%  set module =  conf('prestation.'~objet_bloc_sans_sr ) %}
    {% if gere and module  %}
        <div class="box box-default">
            <div class="box-header">

        {% set objet_bloc_liste = objet_bloc~'_liste' %}
             <h3 class="box-title">  {{ objet_bloc_liste|trans }}   </h3>
                <div class="float-end">
                    {% if alias_valeur  %}
                    {{ bouton('ajouter',{'bouton_id':'ajouter_'~objet_bloc,
                        'nom':objet_bloc~'_ajouter',
                        'bt_texte':true,
                        'objet':objet_bloc,
                        'cle': descr(objet~'.cle'),
                        'id': id ,
                        'prestation_type':alias_valeur}) }}
                    {% else  %}
                    {{ bouton('ajouter',{'bouton_id':'ajouter_'~objet_bloc,
                        'nom':objet_bloc~'_ajouter',
                        'bt_texte':true,
                        'objet':objet_bloc,
                        'cle': descr(objet~'.cle'),
                        'id': id }) }}
                    {% endif  %}
                </div>
            {% include( descr(objet_bloc~'.source')~alias~'.html.twig' ) with {'tab_objet_bloc':objet_bloc} %}

            </div>
        </div>
    {% endif %}
{% endfor %}

