<div class="box box-secondary">

<div class="box-header">


    {% if titre is defined %}
        {% set objet_liste = titre~'_liste' %}
    {% else %}
        {% set objet_liste = objet_bloc~'_liste' %}
    {% endif %}
 <h3 class="box-title">  {{ objet_liste|trans }} </h3>
    <div class="float-end">
        {% if args_ajout is not defined %}
        	{% set args_ajout ={
                'objet':sac('objet'),
                'id_objet':sac('id'),

            } %}
        {% endif %}
        {% set values = {'bouton_id':'ajouter_'~objet_bloc,
            'nom':objet_bloc~'_ajouter',
            'bt_texte':true,
            'objet':objet_bloc,
            'cle': descr(objet_bloc~'.cle'),
            'redirect': sac('url_courante'),
            'id': '',
            'args':args_ajout
            } %}
        {{ bouton('ajouter',values) }}
           <a href='{{ path('preference_edit',{'pref':objet_en_cours()~'|show|datatable_'~objet_bloc,'redirect': url_courante()}) }}'   class="btn btn-sm btn-secondary modal-form"><i class="fa fa-cog"></i></a>


    </div>

    <div class="clearfix"></div>
    {%  if datatable.dyn is defined and not datatable.dyn %}
        {% include('inclure/table_sta.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
    {%  else %}
        {% include('inclure/table_dyn.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
    {%  endif %}
</div>
 </div>


