<script type="application/javascript">

    $(document).ready(function () {

        container = 'super_tableau_{{ objet_bloc }}';
        {%  if options is not defined %}{% set options = {} %}{% endif %}
        options = {{ options_datatable(objet_bloc,datatable,options)|raw}};
        
        if (typeof {{ objet_bloc }}s === "function") {
            {{ objet_bloc }}_liste(container,options);
        }
        else {
            ajaxdatatable(container,options);
        }
    });

</script>