
<div class="dernieres_operations timeline  {% if class is defined %}{{ class }}{% endif %}">
    <div>
    {% for date,operation  in tab_operations %}
        <div class="timeline-item">
            {% if decoupage == 'heure' %}
                {% set time_format = 'short' %}
                <span class="badge badge-primary  small">{{ date|format_datetime('short', 'none',  locale='fr') }}
                    <i class="fa fa-clock"></i> {{ date|format_datetime('none', 'short',  locale='fr') }}
                </span>
            {% endif %}
            {% if decoupage == 'jour' %}
                <span class="badge badge-primary small">{{ date|format_datetime('medium', 'none',  locale='fr') }} </span>
            {% endif %}
            {% if decoupage == 'seconde' %}
                <span class="badge badge-primary  small">{{ date|format_datetime('medium', 'none',  locale='fr') }} </span>
            {% endif %}
        </div>
        {% for op, opv in operation %}




            <div class="timeline-item">
                <div class="timeline-logo">
                <i class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x {{ opv['code']|classLogColor }}"></i>
                    <i class="fas {{ opv['code']|classLog }} fa-stack-1x fa-inverse"></i>
                </i>

                </div>

                    {% if opv['date'] is defined %}
                <div class="timeline-header">
                        <span class="time float-right">
                           <i class="fa fa-clock"></i>
                           {{ opv['date']|format_datetime('none', 'short',  locale='fr') }}
                        </span>
                </div>
                    {% endif %}

                <div class="timeline-body">
                    {% if opv['variables'] is defined and opv['variables'] is iterable %}
                        {{ opv['code']|trans(opv['variables'],'logs')|raw }}
                    {% else %}
                        {{ opv['code']|trans([],'logs') }}
                    {% endif %}
                    par
                    {% for id_op, operateur in opv['operateur'] %}

                        {% if id_op %}
                                <a href="{{ path('individu_show',{'idIndividu':id_op}) }}">{{ operateur }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        {% endfor %}
    {% endfor %}
    </div>
</div>

