{% extends 'base.html.twig' %}
{% block title %}Glinglin{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="box">
                <div class="box-header">
                    <div class="float-end">
                        <a href="{{ path('taches') }}" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i></a>
                    </div>
                    <h3 class="box-title">Taches du jour</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Intitulé</th>
                            <th>Lieu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evt in taches %}
                            <tr>
                                <td>{{ evt.cree_le }}</td>
                                <td>{{ evt.titre }}</td>
                                <td>{{ evt.statut??'' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="float-end">
                        <a href="{{ path('agenda') }}" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i></a>
                    </div>
                    <h3 class="box-title">Agenda</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <th>Date</th>
                        <th>Intitulé</th>
                        <th>Lieu</th>
                        </thead>
                        <tbody>
                        {% for evt in evts %}
                            <tr>
                                <td>{{ evt.dateDebut|format_datetime('full', 'none',  locale='fr') }}</td>
                                <td>{{ evt.titre }}</td>
                                <td>{{ evt.lieu }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
