@import "functions";
@import "variables";
@import "mixins";
@import "variables_perso";



/////////////////////////////////////////////////////////
// Barre menu
/////////////////////////////////////////////////////////
.menu{

  .btn-group{
    background-color: $white-trans80;
    margin: 0.25em auto;
    width: 100%;
    > a{
      min-width: 6em;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.7em;
    }
  }
}
#menu_admin{


  margin:auto;

}