@import "functions";
@import "variables";
@import "mixins";
@import "variables_perso";

@import "admin";
@import "inc/depliable";
@import "inc/select2";
@import "inc/typeahead";


body{
  background: #DADADA url(../images/fond_glinglin.png) repeat ;
}


.wrapper{
  min-height: calc(100hv - 5em);
}

.box-transparent50{ background: rgba(255, 255, 255, 0.25);
  border-top:0 none;
}

/////////////////////////////////////////////////////////
// Entete
/////////////////////////////////////////////////////////


#entete{
  position: relative;


  #conteneur_logo{
    z-index:100;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 120px;
    height: 120px;
    margin: 1em auto;

    a#logo.navbar-brand{
      z-index: 100;
      text-transform: uppercase;
      font-weight: bold;
      color: $gray-900;
      margin:0.5em auto;
      background: transparent url('../images/logo.png') no-repeat center center;
      background-size: contain;
      width: 100%;
      min-height: 100px;

    }
  }
  h1{ font-size:1.2em; text-align: center;font-weight: bold;}
  .texte{margin-bottom: 2em;text-align: center;}
}


.mode_affichage_calendrier{
#entete{
  #conteneur_logo {
    float:left;
  }
  h1{ margin:1.5em 2em 0.5em 0; text-align: left;}
  .texte{margin:0 2em 1em 2em;text-align: left;}
}
}


#form_ident{
  scroll-margin-top: 120px;
}
#form_ident:target {
  padding-top: 1em;
  margin-top: -1em;
}

#alerte_rafraichir{
  display:none;
}

/////////////////////////////////////////////////////////
// Barre menu
/////////////////////////////////////////////////////////

#barre_menu{
  right: 0;
  top :0;
  position: fixed;
  z-index: 1;
  display: flex;

  .menu{
    display: flex;
    flex-direction: column;
    padding-top: 0.25em;
    > a.btn-outline-secondary { background-color: rgba(255, 255, 255, 0.55);display:inline-block;align-self: flex-end; padding-right:1em;margin-right: -0.25em; margin-bottom: 0.5em }
  }

}

#identite{
  align-self: flex-start;
  .box{margin-bottom: 0;}
  .adios{ margin-left:0.25em; display:none;}
  &:hover{
    .adios{  display:inline-block;}
  }
}

/////////////////////////////////////////////////////////
// Corp
/////////////////////////////////////////////////////////

#evts{
  h3{
    display: flex;
    font-size:2em; padding: 2em 0 1em 0;text-align: center;
    justify-content: space-evenly;
    align-items: center;
    svg {margin: 0 0.5em; color: $gray-500;}
  }
  .evt_date{



      .titre{
        font-size:1.2em;
        margin-bottom: 0.5em;
      }
    .evts_creneau {
      clear:both;
      .evt_creneau {
        position:relative;
        margin-bottom: 0.5em;
        .titre {
          font-size: 1.1em;
        }
      }
    }


  }

  .card-comment{
    margin-top: -2.5em;
    margin-bottom: 1.5em;
    @include media-breakpoint-down(lg) {
      margin-top:0;
      margin-bottom: 0.5em;
    }
    .depliable {
      .gachette{
      padding: 0.25em 1em;
      float: right;
        color:$gray-700;
        font-weight: 400;
        font-size: 0.9em;

      }
      .depliant{
        clear:right;
        border-top-right-radius: 0;
        background-color: $gray-100;
      }
    }
    .depliable.deplie{
      .gachette{
        color:$gray-900;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color:$gray-100;
      }
    }


  }
  .organisateurs{
    display: flex;
    ul.list-inline{
      padding: 0 1em;
    }
  }


  .participants{
    display: flex;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    .depliable .depliant{
      padding: 0.25em;
      margin: 0;
      border: 0 none;
      border-radius: 0;
    }
    ul.list-inline{
      padding: 0 0.5em;
    }

  }
}

.card, .ligne_tr{
  background-color: #f1f1f1d9;
  .evt_admin{
    display:none;
    width: 100%;
    margin-top: -2.0em;
    justify-content: flex-end;
    .serveur_calendrier {
      font-size: 0.8em;
      text-align: right;
      margin-bottom: 1em;
      transition:200ms;
      span {
        margin: 0 0.5em;
      }
    }
  }
  &:hover{
    .evt_admin{ display: flex;margin-top: -2.0em;}
  }

  .btn-lien{

    position: absolute;
    top:0.25em;
    left: -2.5em;
    opacity:0;
    transition:1s ease;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    .btn {
      margin:0.25em;
    }
  }
  &:hover{
    .btn-lien{
      top:0.5em;
      opacity:1;
    }
    .serveur_calendrier{ display: block;}
  }



}


.ligne_tr{ padding: 0.5em 1em;border-left:1px solid $gray-400;}


.categorie small {
  padding: 0.15em 0.5em;
  color:$gray-600;
  font-size: 0.9em;
}
.boite-ge{

    .texte{
    min-height: 150px;

    .participants{
      max-height: 150px;

    }
    .card-link {

    }
  }
}
.depliable{
  .gachette{
    color:$gray-700;
  }

}


.badge-personne{
  display: inline-flex;
  img{align-self: flex-start;}
  .nom{ padding:0 0.25em; }
}

#calendriers{
  display:none;
  margin-top :-150px;
  font-size: 0.9em;
  @include media-breakpoint-down(lg) {
    margin-top :50px;
  }


h4{font-size: 1.2em; font-weight: bold;text-align: center}

.mini_calendrier{
  opacity: 0.5;
  transition: 1s;
  font-size:0.9em;
  max-width: 400px;
  margin: 1em auto;
  table{

    margin: 0 auto;
    th{text-align: center;}
    td{text-align: center;}
    a.btn-warning{
      font-size:0.9em;
      border-radius: 0.5em;
    }
  }
}

.mini_calendrier:hover{
  opacity: 1;
}
}
#barre_filtre{
  .icone{ color:$gray-700;}
  .titre{ color:$gray-700; text-transform: uppercase; font-weight: bold;}
  .filtre_groupe{
    .filtre_titre { padding : 0.25em 1em 0.25em 0; }
    .filtre { margin : 0 0.25em ; align-self: flex-start; }
  }
}


#calendar {
  font-size: 0.8em;

  .fc-toolbar {
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0.5em 0;
  }


  .fc-daygrid {
    .fc-event {
      border: 0 none;
      background-color: transparent;
      .evt_calendar{
        border: 0 none;
        background-color: $primary;
        width: calc(100% - 0.5em);
        color:$white;
        padding:0.1em 0.25em;
        .titre {
          font-size: 1.1em;
          font-weight: bold;
        }
        .info_plus{
          display: none;
          padding:1em 0 0.5em 0;
          width: 100%;

        }
      }
    }

  }

  .fc-timegrid-event-harness,.fc-timegrid-day-events {
    overflow: hidden;
    .fc-event {
      border: 1px solid $primary;
      background-color: $primary;
      transition: 0.3s ease;
      .titre {
        font-size: 1.1em;
        font-weight: bold;
      }
      .info_plus{
        display: none;
        padding:1em 0 0.5em 0;
        width: 100%;

      }
    }
&:hover{
  overflow: initial;
}

  }


  .fc-event-main{

    line-height: 1.2;
    .date{
      top:-18px;
      display:none;
      left: -0.25em;padding:0 0.25em;
      color:$gray-900;
      background-color: transparent;
      position:absolute;
    }
    .titre {
      font-size: 1.1em;
      font-weight: bold;
    }
    .info_plus{
      display: none;
      padding:1em 0 0.5em 0;
      width: 100%;

    }
  }

  .fc-timegrid-col-events {

    .doublette {

      position: absolute;
      z-index: 1000;
      width: 110%;
      height: 110%;
      top: -2px;
      left: -5%;
      font-size: 1.1em;
      padding: 0.25em;

      .info_plus{
        display: block;
      }

      .fc-event-main {
        width: 100%;
        box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .2);
      }
    }
  }


}


/////////////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////////////
footer.main-footer {
  width: 100%;
  padding: 3em .5em 0.5em 0.5em;
  color: $gray-600;
}


span.caracteristiques{
  position: relative;
  span{
    display: inline-block;
    margin-left: -0.5em;
    transition: 0.2s ease-in ;
    cursor:help;
  }
  &:hover{
    span{
      margin-left: 0;
    }
  }
}

.invalid-feedback{
  order:4;
}