@media print {
  #barre_menu{
    display:none !important;
  }

  #entete{
    .btn{display:none !important;}
  }


  #calendriers{
    display:none !important;
  }
  .mini_calendrier{
    display:none !important;
  }

#identite_form{
  display:none !important;
}
#identite_alerte{
  display:none !important;
}

}
