$jaune_glinglin :#fec503;

$violet_glinglin :#5b1d99;
$bleu_glinglin :#0074b4;
$vert_glinglin :#00b34c;
$jaune_glinglin :#ffd41f;
$orange_glinglin :#fc6e3d;



$white:white;
$whitetrans90:transparentize($white,0.8);

$white-trans :  rgba(255,255,255,0.5);
$white-trans20 :  rgba(255,255,255,0.2);
$white-trans80 :  rgba(255,255,255,0.8);
