{% extends 'base_admin.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">


            <div class="box">
                <div class="box-header">
                    <div class="float-end">
                        <a href="{{ path('evt_lot') }}" class="btn btn-outline-primary btn-sm"> Configuter les lots de evenements</a>
                    </div>
                    <h3 class="box-title">Ajouter un lot de évenements prédéfinies</h3>
                </div>
                <div class="box-body">
                    {% form_theme form with ['form_large.html.twig'] %}
                     {{ form(form) }}
                   {{ include('inclure/form_js.html.twig') }}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
