{% extends 'base_admin.html.twig' %}



{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="box">
                <div class="box-header"><i class="fa fa-plus"></i> Ajouter des évenements</div>
                <div class="box-body">
                    <div class="menu">
                    <div class="btn-group">
                    <a href="{{ path('agenda_add_evt') }}" class="btn btn-outline-primary "><i class="fa fa-plus fa-2x"></i> Ajouter un évenement</a>
                    <a href="{{ path('agenda_add_evts') }}" class="btn btn-outline-primary  "><i class="fa fa-plus fa-2x"></i> Ajouter un lot d'évenements</a>
                    </div>
                    </div>
                </div>
            </div>
        </div></div>
            {% endblock %}
