{% extends 'base.html.twig' %}
{% block title %}Glinglin{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            {% include 'menu_admin.html.twig' %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Définir un nouveau lot d'évenements</h3>
                </div>
                <div class="box-body">
                    <a href="{{ path('evt_lot_add') }}" class="btn btn-success btn-sm modal-form"><i class="fa fa-plus"></i>  Ajouter un nouveau lot d'évenements</a>
                </div>
            </div>


                    {% for indice,lot in tab_lot_evt %}
                       <div class="box my-5">
                           <div class="box-header">
                               <div class="float-end">
                                   <a href="{{ path('evt_lot_add_evt',{'indice':indice}) }}" class="btn btn-outline-success btn-sm modal-form">
                                       <i class="fa fa-plus"></i> Ajouter un évenement à ce lot
                                   </a>
                               </div>
                               <h3 class="box-title">{{ lot.nom }} <small>{{ lot.type }}</small></h3>
                           </div>
                           <div class="box-body">

                           {% if lot.evts is defined %}
                           {% for indice_evt,evt in lot.evts %}
                               <div class="evt my-3">
                                   <div class="float-end">
                                       <a href="{{ path('evt_lot_modify_evt',{'indice':indice,'indice_evt':indice_evt}) }}" class="btn btn-outline-warning btn-sm modal-form"><i class="fa fa-pencil-alt"></i>  Modifier cet évenement</a>
                                       <a href="{{ path('evt_lot_supp_evt',{'indice':indice,'indice_evt':indice_evt}) }}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-alt"></i> Supprimer cet évenement</a>
                                   </div>
                                    <h5>   {{ evt.titre }}</h5>
                                   <div class="">
                                       Le {{ evt.jour_semaine }} de {{ evt.heure_debut }} à {{ evt.heure_fin }}

                                   </div>
                                   <div class="lieu">
                                        Lieu : {{ evt.lieu }}
                                   </div>
                                   <div class="organisateur">
                                       Organisateur : {{ evt.organisateur }} {{ evt.organisateur_email }}
                                   </div>
                                   <div class="descriptif">
                                       descriptif : {{ evt.observation }}
                                   </div>
                                </div>

                           {% endfor %}
                           {% endif %}
                       </div> </div>
                   {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
