{% extends 'base.html.twig' %}
{% block title %}Glinglin{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                    {% include ('menu_admin.html.twig')  %}
            </div>
        </div>
    </div>
{% endblock %}
