
//BOXES
//--------------------------------------------------------
$box-border-color: #f4f4f4;
$box-border-radius: 3px;
$box-footer-bg: #fff;
$box-boxshadow: 0 1px 1px rgba(0, 0, 0, .1);
$box-padding: 10px;

//Box variants
$box-default-border-top-color: #d2d6de;



//Box solid color variantion creator
@mixin box-solid-variant($color, $text-color: #fff) {
  border: 1px solid #{$color};
  > .box-header {
    color: #{$text-color};
    background: #{$color};
    background-color: #{$color};
    a,
    .btn {
      color: $text-color;
    }
  }
}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius:$box-border-radius;
  background: #ffffff;
  border-top: 3px solid $box-default-border-top-color;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: $box-boxshadow;

  // Box color variations
  &.box-primary {
    border-top-color: $primary;
  }
  &.box-info {
    border-top-color: $info;
  }
  &.box-danger {
    border-top-color: $danger;
  }
  &.box-warning {
    border-top-color: $warning;
  }
  &.box-success {
    border-top-color: $success;
  }
  &.box-default {
    border-top-color: $pink;
  }

  // collapsed mode
  &.collapsed-box {
    .box-body,
    .box-footer {
      display: none;
    }
  }

  .nav-stacked {
    > li {
      border-bottom: 1px solid $box-border-color;
      margin: 0;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  // fixed height to 300px
  &.height-control {
    .box-body {
      max-height: 300px;
      overflow: auto;
    }
  }

  .border-right {
    border-right: 1px solid $box-border-color;
  }
  .border-left {
    border-left: 1px solid $box-border-color;
  }

  //SOLID BOX
  //---------
  //use this class to get a colored header and borders

  &.box-solid {
    border-top: 0;
    > .box-header {
      .btn.btn-default {
        background: transparent;
      }
      .btn,
      a {
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }

    // Box color variations
    &.box-default {
      @include box-solid-variant($pink, #444);
    }
    &.box-primary {
      @include box-solid-variant($primary);
    }
    &.box-info {
      @include box-solid-variant($info);
    }
    &.box-danger {
      @include box-solid-variant($danger);
    }
    &.box-warning {
      @include box-solid-variant($warning);
    }
    &.box-success {
      @include box-solid-variant($success);
    }

    > .box-header > .box-tools .btn {
      border: 0;
      box-shadow: none;
    }

    // Fix font color for tiles
    &[class*='bg'] {
      > .box-header {
        color: #fff;
      }
    }

  }

  //BOX GROUP
  .box-group {
    > .box {
      margin-bottom: 5px;
    }
  }

  // jQuery Knob in a box
  .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
}

.box,
.overlay-wrapper {
  // Box overlay for LOADING STATE effect
  > .overlay,
  > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius:$box-border-radius;
    > .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      color: #000;
      font-size: 30px;
    }
  }

  .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }
}

//Add clearfix to header, body and footer
.box-header,
.box-body,
.box-footer {
  clear:both;
}

//Box header
.box-header {
  color: #444;
  display: block;
  padding: $box-padding;
  position: relative;

  //Add bottom border
  &.with-border {
    border-bottom: 1px solid $box-border-color;
    .collapsed-box & {
      border-bottom: none;
    }
  }

  //Icons and box title
  > .fa,
  > .glyphicon,
  > .ion,
  .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  > .fa,
  > .glyphicon,
  > .ion {
    margin-right: 5px;
  }
  > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
    [data-toggle="tooltip"] {
      position: relative;
    }

    &.pull-right {
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }

    .dropdown-menu > li > a {
      color: #444!important;
    }
  }
}

//Box Tools Buttons
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: darken($box-default-border-top-color, 20%);
  .open &,
  &:hover {
    color: darken($box-default-border-top-color, 40%);
  }
  &.btn:active {
    box-shadow: none;
  }
}

//Box Body
.box-body {
  border-radius:0 0 $box-border-radius $box-border-radius;
  padding: $box-padding;
  .no-header & {
    border-top-radius: $box-border-radius;
  }
  // Tables within the box body
  > .table {
    margin-bottom: 0;
  }

  // Calendar within the box body
  .fc {
    margin-top: 5px;
  }

  .full-width-chart {
    margin: -19px;
  }
  &.no-padding .full-width-chart {
    margin: -9px;
  }

  .box-pane {
    border-radius:0 0 $box-border-radius 0s;
  }
  .box-pane-right {
    border-radius:0 0 0 $box-border-radius;
  }
}

//Box footer
.box-footer {
  border-radius:0 0 $box-border-radius $box-border-radius;
  border-top: 1px solid $box-border-color;
  padding: $box-padding;
  background-color: $box-footer-bg;
}

.chart-legend {
  @extend .list-unstyled !optional;
  margin: 10px 0;
  > li {
    @include media-breakpoint-down(md) {
      float: left;
      margin-right: 10px;
    }
  }
}

//Comment Box
.box-comments {
  background: #f7f7f7;
  .box-comment {
    clear: both;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: 0;
    }
    &:first-of-type {
      padding-top: 0;
    }
    img {
      @extend .img-sm !optional;
      float: left;
    }
  }
  .comment-text {
    margin-left: 40px;
    color: #555;
  }
  .username {
    color: #444;
    display: block;
    font-weight: 600;
  }
  .text-muted {
    font-weight: 400;
    font-size: 12px;
  }
}
