<span class="badge-personne" title=" {{ p.nom }} {% if p.email is not empty %}- {{ p.email|trafiquer }}{% endif %}">
    <img src="{{ avatar(p.cle, '', 20) }}" alt="{{ p.nom }}" />
    <span class="nom">{{ p.nom }}</span>
    <span class="caracteristiques">
          {% if cc[p.cle] is defined and cc[p.cle] is not empty  %}
              {% for id_caract in cc[p.cle] %}
                  {% set caract = tab('caracteristique.'~id_caract) %}
                  <span title="{{ caract.nom }} - {{ caract.descriptif }}">{{ caract.symbole }} </span>
              {% endfor %}
          {% endif %}
    </span>
</span>