{% if not consultation  %}
    <div class="card-comment">
        {% set identite = identite() %}

        <div class="ajout_commentaire depliable no-svg">
            <div class="gachette">
                {% if  (evt.commentaires is empty) %}
                    {% if not (tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) %}
                        <span class="slideRight"> Ajouter un commentaire </span> <i class="fa fa-comment"></i>
                    {% endif %}
                {% else %}
                    {{ evt.commentaires|length }} commentaire{{ evt.commentaires|length==1?'':'s' }} <i class="fa fa-comment"></i>
                {% endif %}
            </div>
            <div class="depliant">
                {% if  (not evt.commentaires is empty)  %}
                    <div class="commentaire ">

                        <ul class="list-unstyled">
                            {% for c in evt.commentaires %}
                                <li >
                                    {% include ('agenda/badge_personne.html.twig')  with { "p":c.personne, 'cc':cc} only  %}<br/>
                                    {{ c.message|replace({'\\n':'<br/>'})|raw }}
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                {% endif %}
                {% if not(tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) and not consultation  %}

                    {% if identite.ok  %}

                        <form action="{{ path('agenda_add_comment',{'redirect':url_courante() }) }}#{{ id_card }}" method="POST" >
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ evt.id }}" />
                                <textarea class="form-control" name="commentaire" id="commentaire{{ evt.id }}" placeholder="Votre commentaire" cols="60" rows="3" ></textarea>
                            </div>
                            <button type="submit" name="envoyer" class="btn btn-primary col-12">Envoyer</button>
                        </form>
                    {% else %}
                        Pour ajouter un commentaire, renseigner <a data-selecteur="form_ident" class="btn-modal" > votre nom </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}