{% set identite = identite() %}
{% if not consultation %}
    {% if identite.ok %}
        <div class="d-grid gap-2">
            {% if testParticipation(evt,identite)  %}
                <a class="card-link btn btn-danger ajax-remplace" data-cible="#{{ id_card }}" href="{{ path('agenda_remove_participation',{'id':evt.id}) }}">Je retire ma participation</a>
            {% else %}
                <a class="card-link btn btn-warning ajax-remplace" data-cible="#{{ id_card }}" href="{{ path('agenda_add_participation',{'id':evt.id}) }}">J'y participe</a>
            {% endif %}
        </div>
    {% else %}
         <div class="text-center mb-2">Pour indiquer ta participation, <a data-selecteur="form_ident" class="btn-modal" data-title="Qui es tu ?">renseigne d'abord ton nom.</a></div>
    {% endif %}
{% endif %}