{% set evt = gevt['evts']|first   %}{% set id_card = 'cal'~evt.id   %}{% set est_un_groupe = gevt['evts']|length > 1   %}
{% if est_un_groupe  %}<glinglin_date|texte={{ evt.dateDebut|format_datetime(pattern="cccc d MMMM à H:mm",locale='fr') }}>

{% if evt.statut=='CANCELLED'  %}<glinglin_alerte|message=Annulé>{% endif %}{{'{{{'~gevt.titre~'}}}'}}
{% else %}
<glinglin_date|texte={{ evt.dateDebut|format_datetime(pattern="cccc d MMMM à H:mm",locale='fr') }}>{% if evt.lieu|trim is not empty %}<glinglin_lieu|texte={{ evt.lieu }}>{% endif %}

{% if evt.statut=='CANCELLED'  %}<glinglin_alerte|texte=Annulé>{% endif %}{{ '{{{'~evt.titre~'}}}' }}
{% endif %}
{% if evt.descriptif|trim is not empty %}{{ evt.descriptif }}{% endif %}

----

