{% set evt = gevt['evts']|first   %}{% set id_card = 'cal'~evt.id   %}{% set est_un_groupe = gevt['evts']|length > 1   %}
{% if est_un_groupe  %} <div class="date"><i class="fa fa-calendar"></i> {{ gevt.dateDebut|format_datetime('full', 'none',  locale='fr') }}</div>
<div class="titre">{{ gevt.titre }}</div>
{% else %}
<div class="date"><i class="fa fa-calendar"></i> {{ evt.dateDebut|format_datetime(pattern="cccc d MMMM à H:mm",locale='fr') }}</div>
<div class="titre">{{ evt.titre }}</div>
{% endif %}
{% if evt.statut=='CANCELLED'  %}<span class="badge bg-danger">Annulé</span>{% endif %}
{% if evt.descriptif|trim is not empty %}<div class="descriptif">{{ evt.descriptif }}</div>{% endif %}
{% if evt.lieu|trim is not empty %}<div class="lieu">{{ evt.lieu }}</div>{% endif %}
<hr />