<div class="participants {{ class??'' }}">
    {% if evt.participants|length > 0 %}
        <div class="depliable">
            <div class="gachette">{{ evt.participants|length}} participants</div>
            <div class="depliant">
                <ul class="list-inline">
                    {% for p in evt.participants %}
                        {% include ('agenda/badge_personne.html.twig')  with { "p":p, 'cc':cc??[]} only  %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% else  %}
        Personne pour le moment
    {% endif %}
</div>
