{% set evt = gevt['evts']|first   %}
{% set id_card = 'cal'~evt.id   %}
{% set est_un_groupe = gevt['evts']|length > 1   %}
<div class="filtre_ob mb-5" id="{{ id_card }}" data-filtre-valeur-cat="{{ evt.categories|join('|') }}" data-filtre-valeur-lieu="{{ evt.lieu|join('|') }}">

<div class="ligne_tr"{% if evt.couleur is not empty %} style="border-left-color: {{ evt.couleur }};border-left-width:3px;"{% endif %}>
<div class="row">

    {% if is_granted('ROLE_ADMIN') %}
        <div class="evt_admin col-md-12">
            <div class="serveur_calendrier">
                <small>Serveur </small>
                <span class="serveur">{{ evt.serveur }}</span>
                <small>Calendrier </small>
                <span class="calendrier" >{{ evt.agenda }}</span>
            </div>
        </div>
    {% endif %}
        {% if est_un_groupe  %}
        <div class="titre col-md-12">
                <div class="d-inline-flex">
                    {{ gevt.titre }}
                </div>
            <div class="lieu">
                {% if (not evt.lieu=='') or  (not evt.adresse=='')  %}
                    <p>Lieu : {{ evt.lieu?? '??'  }} {{ evt.adresse ? ' - '~evt.adresse:''  }} </p>
                {% endif %}
            </div>
        </div>

        {% for ge in gevt['evts'] %}
            <div class="evt_creneau">
                <div class="row">
                    <div class="col-lg-8">
                        <span class="horaire text-muted">
                        <i class="fa fa-clock"></i>
                        De {{ ge.dateDebut|format_datetime('none', 'short',  locale='fr') }} à
                        {{ ge.dateFin|format_datetime('none', 'short',  locale='fr') }}
                        </span>
                        <div class="titre">{{ ge.titre[(gevt.titre|length+2):]|trim }}</div>
                    </div>
                    <div class="col-lg-4">
                        {% include ('agenda/evt_nb_participant.html.twig')  with { "evt":ge}   %}
                        {% if not consultation and not (tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) %}
                            {% include ('agenda/bt_participation.twig') with { "evt":ge} %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% else %}
    <div class="col-lg-8">
        {% if evt.statut=='CANCELLED'  %}
            <span class="badge bg-danger">Annulé</span>
        {% endif %}



                <div class="titre_horaire">


                        <div class="titre">{{ evt.titre }}</div>
                        <span class="horaire text-muted">
                        <i class="fa fa-clock"></i>
                        De {{ evt.dateDebut|format_datetime('none', 'short',  locale='fr') }} à
                             {{ evt.dateFin|format_datetime('none', 'short',  locale='fr') }}
                         </span>

                </div>

            {% if (not evt.lieu=='') or  (not evt.adresse=='')  %}
                <p>Lieu : {{ evt.lieu?? '??'  }} {{ evt.adresse ? ' - '~evt.adresse:''  }} </p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            {% if not consultation%}
            {% include ('agenda/evt_nb_participant.html.twig')  with { "evt":evt,'class':''} only   %}
            {% endif %}
            {% set identite = identite() %}
            {% if not est_un_groupe    %}
                {% if  not (tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) %}
                {% include ('agenda/bt_participation.twig')%}
                {% endif %}
            {% else %}

                    {% for ge in gevt['evts'] %}
                    <div class="evt_creneau">
                        <div class="row">
                            <div class="col-lg-6 col-xl-4">

                                <div class="texte">
                                    <h6 class="mb-2 text-muted">
                                        <i class="fa fa-clock"></i>
                                        De {{ ge.dateDebut|format_datetime('none', 'short',  locale='fr') }} à
                                        {{ ge.dateFin|format_datetime('none', 'short',  locale='fr') }}
                                    </h6>
                                    <h5> {% if ge.statut=='CANCELLED'  %}
                                            <span class="badge bg-danger">Annulé</span>
                                        {% endif %}
                                        {{ ge.titre[(gevt.titre|length+2):]|trim }}</h5>
                                </div>
                                {% if not consultation%}
                                    {% include ('agenda/evt_participant.html.twig')  with { "evt":ge}   %}
                                {% endif %}
                                {% if  not (tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) %}
                                    {% include ('agenda/bt_participation.twig') with { "evt":ge} %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}

            {% endif %}
        </div>
 {% endif %}

</div>
</div>
</div>