<div class="participants {{ class??'' }}">
    {% if evt.participants|length > 0 %}
    Participant·e·s&nbsp;:
    <ul class="list-inline">
        {% for p in evt.participants %}
            {% include ('agenda/badge_personne.html.twig')  with { "p":p, 'cc':cc} only  %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
