{% set evt = gevt['evts']|first   %}
{% set id_card = 'cal'~evt.id   %}
{% set est_un_groupe = gevt['evts']|length > 1   %}
<div class="card filtre_ob mb-5" id="{{ id_card }}" data-filtre-valeur-cat="{{ evt.categories|join('|') }}" data-filtre-valeur-lieu="{{ evt.lieu }}">
    <div class="card-header" {% if evt.couleur is not empty %} style="border-bottom-color: {{ evt.couleur }};border-bottom-width:3px;"{% endif %}>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="evt_admin">
            <div class="serveur_calendrier">
                <small>Serveur </small>
                <span class="serveur">{{ evt.serveur }}</span>
                <small>Calendrier </small>
                <span class="calendrier" >{{ evt.agenda }}</span>
            </div>
        </div>
        {% endif %}
        <div class="float-end d-flex flex-column">
            <div class="categorie d-inline-flex">
                {% if evt.categories is not empty  %}
                <small>Catégorie </small>

                    <ul class="categorie list-inline">
                        {% for cat in evt.categories  %}
                            <li class="list-inline-item badge text-bg-info">{{ cat }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <h4 class="card-title">
            {% if evt.statut=='CANCELLED'  %}
                <span class="badge bg-danger">Annulé</span>
            {% endif %}
            <div class="d-inline-flex">
            {% if est_un_groupe  %}
                <div class="titre_horaire">
                {{ gevt.titre }}
                <h6 class="card-subtitle mt-2 mb-2 text-muted">
                    <i class="fa fa-clock"></i>
                    De {{ gevt.dateDebut|format_datetime('none', 'short',  locale='fr') }} à
                    {{ gevt.dateFin|format_datetime('none', 'short',  locale='fr') }}
                </h6>
                </div>
            {% else %}
                <div class="titre_horaire">
                {{ evt.titre }}
                <h6 class="card-subtitle mt-2 mb-2 text-muted">
                    <i class="fa fa-clock"></i>
                    De {{ evt.dateDebut|format_datetime('none', 'short',  locale='fr') }} à
                    {{ evt.dateFin|format_datetime('none', 'short',  locale='fr') }}
                </h6>
                </div>
            {% endif %}

            </div>
            <div class="btnl btn-lien" role="group" aria-label="button group">
                {% if conf('affichage.boutons_liens') %}
                <div class="btn btn-sm btn-outline-primary"
                     data-clipboard-text="{{ absolute_url(path('agenda')) }}#{{ id_card }}"
                >
                    <i class="fa fa-link"></i>
                </div>
                <div class="btn btn-sm btn-outline-secondary"
                     data-clipboard-text="{{ absolute_url(path('cuisson',{'nom':'@nom@','email':'@email@','ancre':id_card})) }}#{{ id_card }}"
                >
                    <i class="fa fa-link"></i>NL
                </div>
                {% endif %}
                {% if not est_un_groupe and is_granted('ROLE_ADMIN') %}
                <a class="btn btn-sm btn-warning modal-form " href="{{ path('agenda_edit_evt',{'id':evt.id}) }}" >
                    <i class="fa fa-pencil-alt"></i>
                </a>
                <a class="btn btn-sm btn-danger"  data-confirm-supprimer="Confirmez vous la suppression de cet évenement ?"
                   data-href="{{ path('agenda_delete_evt',{'id':evt.id}) }}" >
                    <i class="fa fa-trash-alt"></i>
                </a>
                {% endif %}
            </div>
        </h4>
        </div> <!-- .card-header  -->

        <div class="card-body">
            {% if consultation and evt.presentation is defined and (not evt.presentation=='')  %}
                <p class="card-text">{{ evt.presentation|replace({"\n\n":'<br/>',"\n":'<br/>','\\n\\n':'<br/>','\\n':'<br/>'})|urlify|raw  }}</p>
            {% endif %}
        {% if not consultation and evt.descriptif is defined and (not evt.descriptif=='')  %}

        <p class="card-text">{{ evt.descriptif|replace({"\n\n":'<br/>',"\n":'<br/>','\\n\\n':'<br/>','\\n':'<br/>'})|urlify|raw  }}</p>
        {% endif %}
            {% if evt.nbPersonne and  not consultation  %}
            <p class="nb_personne_souhait"> {{ evt.nbPersonne }} participant·e{% if evt.nbPersonne > 1 %}·s{% endif %} souhaité·e{% if evt.nbPersonne > 1 %}·s{% endif %}</p>
            {% endif %}
        {% if (not evt.lieu=='') or  (not evt.adresse=='')  %}
            <p class="lieu"><i class="fa fa-map-marker" title="Lieu"></i> {{ evt.lieu?? '??'  }} {{ evt.adresse ? ' - '~evt.adresse:''  }} </p>
        {% endif %}



            {% if evt.organisateurs is not empty  %}
                <div class="organisateurs">Organisateurs :
                    <ul class="list-inline">
                        {% for p in evt.organisateurs %}
                            {% include ('agenda/badge_personne.html.twig')  with { "p":p, 'cc':cc} only  %}<br/>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if not est_un_groupe  %}
                {% if not consultation%}
                {% include ('agenda/evt_participant.html.twig')  with { "evt":evt,'class':'','cc':cc} only   %}
                {% endif %}
            {% else %}
            <div class="row evts_creneau">
                {% for ge in gevt['evts'] %}
                    <div class="col-md-6 col-xl-4">
                        <div class="evt_creneau">
                            <div class="btnl btn-lien" role="group" aria-label="button group">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-sm btn-warning modal-form " href="{{ path('agenda_edit_evt',{'id':ge.id}) }}" >
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger"  data-confirm-supprimer="Confirmez vous la suppression de cet évenement ?"
                                       data-href="{{ path('agenda_delete_evt',{'id':ge.id}) }}" data-token="" >
                                        <i class="fa fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="box boite-ge">
                                <div class="box-body">
                                    <div class="texte">
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <i class="fa fa-clock"></i>
                                            De {{ ge.dateDebut|format_datetime('none', 'short',  locale='fr') }} à
                                            {{ ge.dateFin|format_datetime('none', 'short',  locale='fr') }}
                                        </h6>
                                        <h5>{{ ge.titre[(gevt.titre|length+2):]|trim }}</h5>
                                    </div>
                                    {% if not consultation%}
                                        {% include ('agenda/evt_participant.html.twig')  with { "evt":ge}   %}

                                    {% endif %}
                                    {% if not (tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) %}
                                        {% include ('agenda/bt_participation.twig') with { "evt":ge} %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    {% if  not consultation  %}
    {% include ('agenda/bloc_commentaire.html.twig')  %}
    {% endif  %}
    {% if not est_un_groupe and not consultation and not (tab_calendrier[evt.serveur][evt.agenda]['show_only']??false) %}
        {% include ('agenda/bt_participation.twig')  %}
    {% else %}
    {% endif %}
</div>
