{% extends 'base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-lg-3  col-lg-4 offset-lg-4">
                <h4 class="mt-3">Exportation html simple </h4>
                <textarea id="export_newsletter_spip" cols="68" rows="10">{% for date,gevt in evts %}{% include ('agenda/evt_line.html.twig')  with { "gevt":gevt}   %}{% endfor %}
<a href="{{ absolute_url(url('cuisson',{'nom':'@nom@','email':'@email@'})) }}" class="btn btn-primary btn-block">Voir l'agenda pour s'inscrire</a>
                </textarea>

                <h4 class="mt-3">Exportation SPIP</h4>
                <textarea id="export_newsletter_spip" cols="68" rows="10"><glinglin|>
{% for date,gevt in evts %}{% include ('agenda/evt_line_spip.html.twig')  with { "gevt":gevt}   %}{% endfor %}
<glinglin_bouton|texte=Voir l'agenda pour s'inscrire|lien={{ absolute_url(url('cuisson',{'nom':'@nom@','email':'@email@'})) }}>

<glinglin_fin|></textarea>

                <h4 class="mt-3">Apercu</h4>

                <div class="box">
                    <div class="box-body">
                       {% for date,gevt in evts %}
                           {% include ('agenda/evt_line.html.twig')  with { "gevt":gevt}   %}
                        {% endfor %}
                        <a href="{{ absolute_url(path('cuisson',{'nom':'@nom@','email':'@email@'})) }}" class="btn btn-primary btn-block">Voir l'agenda pour s'inscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
