<div id="barre_filtre" class="filtres d-none" data-cible="#evts">
    <div class="d-flex flex-column ">
        {% if cats is not empty  %}
        <div class="filtre_groupe   my-2" >
            <div class="filtre_titre">Catégorie</div>
            <div id="filtres-cat" class="d-flex">
            {% for cat in cats %}
                 <div class="filtre align-self-stretch btn btn-sm btn-outline-primary mb-2" data-filtre-groupe="cat" data-filtre-valeur="{{ cat }}">{{ cat }}</div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if lieux is not empty  %}
        <div class="filtre_groupe  my-2" >
        <div class="filtre_titre">Lieu</div>
        <div id="filtre-lieu" class="d-flex flex-wrap align-content-start">
        {% for lieu in lieux %}
              <div class="filtre align-self-stretch  btn btn-outline-primary btn-sm mb-2" data-filtre-groupe="lieu" data-filtre-valeur="{{ lieu }}">{{ lieu }}</div>
        {% endfor %}
        </div>
        </div>
        {% endif %}
    </div>

</div>
