{% extends 'base.html.twig' %}
{% block menu %}
    {% if not consultation %}
    {% set identite = identite() %}
<div  id="identite">
    {% if not identite.ok %}
        <a  class="btn btn-outline-primary m-1 btn-modal"  data-selecteur="form_ident" data-title="Qui es tu ?"><i class="fa fa-user"></i> Qui es tu ?</a>
        <div class="row d-none" id="identite_form">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                {% include('inclure/identite.html.twig') %}
            </div>
        </div>
    {% else %}
        {% include('inclure/identite.html.twig') %}
    {% endif %}
</div>
    {% endif %}
    {{ parent() }}
    <div class="d-none" id="menu-affichage">
        <div class="d-grid gap-2">
            {% set route=(consultation)?'agenda_public':'agenda' %}
            <a href="{{ path(route,{'mode_affichage':'calendrier'}) }}" class="btn btn-outline-primary d-none d-lg-block"  ><i class="fa fa-calendar"></i> Calendrier</a>
            <a href="{{ path(route,{'mode_affichage':'liste'}) }}" class="btn btn-outline-primary" ><i class="fa fa-list"></i> Liste étendue</a>
            <a href="{{ path(route,{'mode_affichage':'liste_compacte'}) }}" class="btn btn-outline-primary">  <i class="fa fa-list"></i> Liste compacte </a>
        </div>
    </div>
{% endblock %}

{% block menu_btn %}
    {% if config_affichage.minicalendrier and mode_affichage != 'calendrier' %}
    <a id="btn_minicalendrier" class="btn btn-outline-secondary  btn-modal"  data-selecteur="minicalendriers" data-title="<i class='fa fa-calendar'></i> Calendriers"><i class="fa fa-calendar"></i></a>
    {% endif %}
    {% if config_affichage.filtre %}
    <a id="btn_filter" class="btn btn-outline-secondary btn-modal" data-selecteur="barre_filtre" data-title="<i class='fa fa-filter'></i> Filtres"><i class="fa fa-filter"></i></a>
    {% endif %}
    <a class="btn btn-outline-secondary btn-modal" data-selecteur="menu-affichage" title="Mode d'affichage"><i class="fa fa-paint-brush"></i> </a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('evenement') }}" class="btn btn-outline-secondary" title="Ajouter des evts"><i class="fa fa-plus"></i></a>
    {% endif %}
{% endblock %}

{% block entete %}
{{ parent() }}

  <div class="row" >
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <div id="alerte_rafraichir" class="alert alert-warning sticky-top">
              L'agenda a été modifié ou complété, Souhaitez-vous rafraîchir la page ? <a href="{{ path('agenda') }}" class="btn btn-primary">Rafraichir</a>
          </div>
      </div>
  </div>
{% endblock %}


{% block content %}
    {% include ('agenda/filtres.html.twig')  with { "evts":evts}   %}
    <div  id="minicalendriers" class="d-none" >
        <div class="row">
            <div class="col-lg-6 ">
                {% include ('agenda/mini_calendrier.html.twig')  with { "mois":tab_mois['courant']}   %}
            </div>
            <div class="col-lg-6  ">
                {% include ('agenda/mini_calendrier.html.twig')  with { "mois":tab_mois['suivant']}   %}
            </div>
        </div>
    </div>
    {% if mode_affichage == 'calendrier'  %}
        <div class="box" id="evts">
            <div class="box-body">
                <div id="calendar"
                    data-filtres="{{ tab_filtres|json_encode  }}"
                    data-consultation="{{ consultation?1:0  }}"
                >
                </div>
            </div>
        </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">

                <div id="evts" data-refresh="{{ time }}">
                {% set date_temp = '' %}
               {% for date,gevt in evts %}
                   {% set date_jour = gevt.dateDebut|format_datetime('full', 'none',  locale='fr') %}
                   {% if date_temp != date_jour %}
                        {% if not loop.first %}</div>{% endif %}
                        <h3 class="cat_filtre mt-2 mb-3" id="date_{{ gevt.dateDebut|date('Ymd') }}"><i class="fa fa-calendar"></i> {{ date_jour|capitalize }} <i class="fa fa-calendar"></i></h3>
                        <div class="evt_date">
                   {% else %}
                   {% endif %}
                            {% if mode_affichage=="liste_compacte"  %}
                            {% include ('agenda/evt_tr.html.twig')  with { "gevt":gevt}   %}
                            {% else %}
                            {% include ('agenda/evt_card.html.twig')  with { "gevt":gevt}   %}
                            {% endif %}
                   {% if date_temp != date_jour %}
                   {% endif %}
                    {% set date_temp=date_jour %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}