<div class="mini_calendrier">
<h4>{{ mois['date']|format_datetime(locale='fr',pattern='LLLL yyyy')|capitalize  }}</h4>

<table class="table table-sm">
    <thead>
    <tr>
    {% for j,jour in jour_de_la_semaine %}
    <th>{{ j }}</th>
    {% endfor %}
    </tr>
    </thead>
<tbody>
    <tr>
    {% if mois['jour1'] > 0 %}
        {% for j in 1..mois['jour1'] %}
            <td></td>
        {% endfor %}
    {% endif %}
    {% for j in 1..(6-mois['jour1']+1) %}
        {% set jour =  mois['date']|date('Ym') ~ str_pad(j,2,'0')   %}
        {% if mois['jours_evt'][j]  %}
            <td class="{% if jour < date_debut|date('Ymd')   %}text-muted"{% endif %}{% if jour ==  date_debut|date('Ymd') %} border border-light{% endif %}"><a href="#date_{{ jour }}" class="btn btn-warning btn-sm">{{ j }}</a></td>
            {% else %}
                <td class="{% if jour < date_debut|date('Ymd')    %}text-muted"{% endif %}{% if jour ==  date_debut|date('Ymd') %} border border-light{% endif %}">{{ j }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% set  mois_jour2 =  ( 6-mois['jour1']) %}
    <tr>
    {% for j in 1..(mois['nb_jour']-mois_jour2-1) %}
        {% set j_rectif = j+mois_jour2+1  %}
        {% set jour =  mois['date']|date('Ym') ~ str_pad(j_rectif,2,'0')   %}
        {% if mois['jours_evt'][j_rectif]   %}
            <td class="{% if jour <  date_debut|date('Ymd')   %}text-muted"{% endif %}{% if jour ==  date_debut|date('Ymd') %} border border-light{% endif %}"><a href="#date_{{ jour }}" class="btn btn-warning btn-sm">{{ j_rectif}}</a></td>
        {% else %}
            <td class="{% if jour <  date_debut|date('Ymd')   %}text-muted"{% endif %}{% if jour ==  date_debut|date('Ymd') %} border border-light{% endif %}">{{ j_rectif }}</td>
        {% endif %}
        {% if j % 7 == 0 %}
            </tr><tr>
        {% endif %}
    {% endfor %}
    </tr>

</tbody>
</table>
</div>