{% autoescape false %}
body{
    background-color: {{ couleur_du_fond }};
}
{% if logo_perso is defined %}
#entete #conteneur_logo  a#logo.navbar-brand {
        background-image: url('{{ logo_perso }}');
}
{% endif %}
{% endautoescape %}