{% extends 'base_zero.html.twig' %}

{% block title %}Edit {{ sac('objet') }}{% endblock %}

{% block body %}
    <h1>Edit sac('objet')</h1>
    {% block formulaire %}
    {{ include('objet/_form.html.twig', {'button_label': 'Update'}) }}
    {% endblock %}
{% endblock %}