{% extends 'base.html.twig' %}
{% block content %}
    <div id="contenu" class="box">
        <div class="box-body">
            <div class="d-flex flex-row-reverse bd-highlight">
            {{ bouton('ajouter',{'objet':objet_bloc ,'bt_texte':true,'class':'btn btn-outline-success'}) }}
            </div>

        <div id="super_tableau_{{ objet_bloc }}">
            {% if datatable.mode_affichage !='datagrid' %}
                {% include('inclure/table_col.html.twig') with{'tab_col':datatable.colonnes,class : 'ajaxdatatable'} only %}
            {% endif %}
        </div>

        {% if datatable.mode_affichage=='datagrid' %}
            {% include('inclure/grid_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
        {% else %}
            {% include('inclure/table_dyn_js.html.twig') with{'objet_bloc':objet_bloc,'datatable':datatable} only %}
        {% endif %}
    </div>
    </div>


{% endblock %}


