{% extends 'base.html.twig' %}

{% block content %}
    <!-- Colonne de gauche-->
    <div id="aside" class="col-md-4">
        <div class="box">
            <div class="box-body">
                <div class=" float-right">
                    {{ bouton('modifier') }}
                    {{ bouton('supprimer') }}
                </div>
                <div class="numero">{{ objet_data.primaryKey }}</div>
                {% if objet_data.nom is defined %}
                    <div class="nom h2">{{ objet_data.nom }}</div>
                {% endif %}
                <dl class="dl-horizontal">

                </dl>
            </div>
        </div>


        <a href="{{ path(objet_en_cours()~'_index') }}" class="btn btn-secondary"><i class="fa fa-backward"></i> back to
            list</a>

    </div>
    <div class="col-md-8">

    </div>

{% endblock %}