<a class="btn btn-{{couleur}} btn-sm force-tooltip {{class}}" {{protection}}href="{{url}}" {{#title}}title="{{title}}"{{/title}} data-placement="bottom" id="lien_{{id}}" {{{attr}}}>
    <i class="{{icon}}"></i>
</a>

