<div class="evt_calendar filtre_ob" style="background-color: {{couleur_bg}};"  data-filtre-valeur-cat="{{ tab_categories }}" data-filtre-valeur-lieu="{{ lieu }}">
    <div class="titre">
        {{#canceled}}
        <span class="badge bg-danger"><i class="fa fa-exclamation-triangle"></i> Annulé</span>
        {{/canceled}}
        {{titre}}</div>
    <div class="horaire">{{timeText}}</div>
    {{^public}}
        {{#besoin}}
        <div class="benevoles badge bg-warning">On cherche des bénévoles</div>
        {{/besoin}}
    {{/public}}
    <div class="info_plus">
        <div class="lieu">{{lieu}}</div>
        <div class="action">
            <a class="btn btn-sm btn-primary btn-modal-json" href="/agenda/evt?id={{id}}&consultation={{consultation}}" id="btevt{{id}}">En savoir plus</a>
        </div>
    </div>
</div>
