{% extends 'base.html.twig' %}
{% block entete %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            {% include ('menu_admin.html.twig')  %}
        </div></div>
{% endblock %}