<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    {% include 'inclure/head.html.twig' %}
    {% include 'inclure/head_js.html.twig' %}
    {% block head_cplt %}{% endblock %}
</head>
<body class="page-basic mode_affichage_{{ mode_affichage??'page' }}">
<div class="wrapper container-fluid">
    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->
    <div id="barre_menu" >
        {% block menu %}
             <div  class="menu">
                 {% if not consultation??false %}
                    {% include 'menu.html.twig' %}
                 {% endif %}
                {% block menu_btn %}{% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block entete %}
        <div id="entete">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
            {% include('inclure/entete_logo.html.twig') %}

                    {% block entete_titre %}
                        {% if titre is defined %}
                        <h1>{{ titre }}</h1>
                        {% endif %}
                    {% endblock %}
                    {% block entete_texte %}
                        {% if texte is defined %}
                        <div class="texte">{{ texte }}</div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>

    {% endblock %}
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
    {% for alert in alertTypeAvaillable %}
        {% set tab_flash = app.session.getFlashBag.get(alert) %}
        {% if tab_flash is not empty %}
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                {% for message in tab_flash %}
                    <div class="alert alert-{{ alert }} fade show alert-dismissible" role="alert">
                        {{ message|trans|raw }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>

        {% endif %}
    {% endfor %}
    {% block content %}

        {% block aside %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    {% endblock %}
</div>
{% include 'inclure/footer.html.twig' only %}
{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}?version={{ version|replace({".":'-'}) }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
{% endblock %}
</body>
</html>
