
<div id="menu_admin" class="menu">
        <div class="btn-group">
        <a href="{{ path('evenement') }}" class="btn btn-outline-primary"><i class="fa fa-calendar fa-3x"></i>Evenements</a>
        <a href="{{ path('contact_index') }}" class="btn btn-outline-primary"><i class="fa fa-user fa-3x"></i>Contacts</a>
        {% if conf('module.sms')==1 %}
                <a href="{{ path('relance') }}" class="btn-outline-primary btn"><i class="fa fa-paper-plane fa-3x"></i>Relances</a>
        {% endif %}
        {% if conf('module.rgpd') %}
                <a href="{{ path('rgpd_question_index') }}" class="btn btn-outline-primary"><i class="fa fa-question-circle fa-3x "></i> RGPD</a>
        {% endif %}
        {% if conf('module.caracteristique') %}
                <a href="{{ path('caracteristique_index') }}" class="btn btn-outline-primary"><i class="fa fa-certificate fa-3x "></i> Caractéristiques</a>
        {% endif %}
        <a href="{{ path('categorie_index') }}" class="btn btn-outline-primary"><i class="fa fa-tags fa-3x "></i> Catégories</a>
        <a href="{{ path('lieu_index') }}" class="btn btn-outline-primary"><i class="fa fa-map-marker fa-3x "></i> Lieux</a>
        <a href="{{ path('config') }}" class="btn btn-outline-primary"><i class="fa fa-cogs fa-3x "></i> Configuration</a>
        <a href="{{ path('tools') }}" class="btn-outline-primary btn"><i class="fa fa-tools fa-3x"></i>Outils</a>
        </div>
</div>
