<a class="btn btn-outline-secondary btn-modal" data-selecteur="menuflottant">
    <i class="fas fa-bars"></i>
</a>
<div class="d-none" id="menuflottant">
    <div class="d-grid gap-2">
    <a href="{{ path('agenda') }}" class="btn btn-outline-primary"><i class="fa fa-home"></i> Accueil</a>
    <a href="{{ path('admin') }}" class="btn btn-outline-primary"><i class="fa fa-tools"></i> Administration</a>
    <a href="{{ path('agenda_export') }}" class="btn btn-outline-primary"><i class="fa fa-paper-plane"></i> Exportation</a>
    <a href="{{ path('credits') }}" class="btn-outline-primary btn"><i class="fa fa-info-circle"></i> A propos</a>
    </div>
</div>