<div class="menu">
    <div class="btn-group">
        <a href="{{ path('config') }}" class="btn btn-outline-secondary"><i class="fa fa-cogs fa-2x"></i> Configuration générales</a>
        <a href="{{ path('config') }}" class="btn btn-outline-secondary"><i class="fa fa-cogs fa-2x"></i>Modules</a>
        <a href="{{ path('config') }}" class="btn btn-outline-secondary"><i class="fa fa-cogs fa-2x"></i>Sources</a>
        <a href="{{ path('config') }}" class="btn btn-outline-secondary"><i class="fa fa-cogs fa-2x"></i>Notifications</a>
        <a href="{{ path('config') }}" class="btn btn-outline-secondary"><i class="fa fa-cogs fa-2x"></i>Personnalisation</a>

    </div>
</div>