{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
    <div id="contenu" class="box box-danger">
        <div class="box-body">
            <h3><i class="fas fa-exclamation-triangle"></i> ERREUR</h3>
            <p>{{ message }}</p>
        </div>
    </div>
</div>
{% endblock %}


