{% extends 'base.html.twig' %}
{% block title %}Glinglin - Crédits{% endblock %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <div class="box">
        <div class="box-body">
            <div class="row my-3">
                <div class="col-md-2 text-center">
                    <i class="fa fa-4x fa-rocket"></i>
                </div>
                <div class="col-md-10  ">
                    <p>Cette application a été initiée par la commission informatique de
                        <a href="https://www.robindesbio.org/">Robin des bio</a> dans le but de savoir qui
                        sera présent·e aux permanences de l'association.
                    </p>
                    <p>
                        Pour consulter, télécharger ou contribuer au code source du projet, rendez-vous sur notre dépot :
                        <a href="https://framagit.org/declic3000/glinglin">https://framagit.org/declic3000/glinglin</a>
                    </p>
                    <p>
                       Ce logiciel est sous licence
                        <a href="https://fr.wikipedia.org/wiki/GNU_Affero_General_Public_License">AGPL</a>
                    </p>
                    <h3>Remerciements</h3>
                    <p>Merci à tous les contributeur·rice·s des Logiciels Libres de toutes sortes
                        et en particulier aux développeur·se·s des dépendances utilisées par ce logiciel.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
