{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            {% include 'menu_admin.html.twig' %}

        </div>
    </div>
</div>
<div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if onglet=='description' %}active{% endif %}">
                    <a href="{{ path('tools',{'onglet':'description'}) }}" class="nav-link">Description des objet et des page</a>
                </li>
                <li class="nav-item {% if onglet=='table' %}active{% endif %}">
                    <a href="{{ path('tools',{'onglet':'table'}) }}" class="nav-link">Donnée des tables</a>
                </li>
                <li class="nav-item {% if onglet=='variables' %}active{% endif %}">
                    <a href="{{ path('tools',{'onglet':'variables'}) }}" class="nav-link">Variables et préférences utilisateurs</a>
                </li>
                <li class="nav-item {% if onglet=='config' %}active{% endif %}">
                    <a href="{{ path('tools',{'onglet':'config'}) }}" class="nav-link">Config</a>
                </li>
                <li class="nav-item {% if onglet=='tache' %}active{% endif %}">
                    <a href="{{ path('tools',{'onglet':'tache'}) }}" class="nav-link">Tache</a>
                </li>
                <li role="test" class="nav-item {% if onglet=='test' %}active{% endif %}">
                    <a href="{{ path('test') }}" class="nav-link">Test</a>
                </li>

            </ul>
        </div>
        <ul class="navbar-nav md-auto">
            <li class="nav-item">
                <a href="{{ path('vider_cache') }}" class="nav-link">Vider le cache</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('rafraichir') }}" class="nav-link">Rafraichir les variables en cache</a>
            </li>
            <li class="nav-item">
                <a href="{{ documentation_lien(sac('page')) }}" target="_blank" class="btn btn-secondary"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
            </li>
        </ul>
    </nav>
</div>
{% block content_tools %}
        {% if onglet is defined %}

            <div id="contenu" class="col-md-12">
            <div class="row">

        {% if onglet=='table' %}
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header"><h3>Données des tables</h3></div>
                    <div class="box-body">
                        {{ arbre(sac('table')) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-body">
                        <a href="{{ path('init_mot') }}" class='btn btn-block btn-info'>Réinitialiser les mots systeme</a>
                        <a href="{{ path('init_bloc') }}" class='btn btn-block btn-info'>Réinitialiser les blocs, compositions, courriers</a>
                    </div>
                </div>
            </div>

        {% endif %}
        {% if onglet=='variables' %}

        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Variables Utilisateur</h3></div>
                <div class="box-body">{{ arbre(suc()) }}</div>
            </div>
            <div class="box">
                <div class="box-header"><h3>Roles</h3></div>
                <div class="box-body">{{ arbre(user.roles) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Préférence par défaut</h3></div>
                <a href="{{ path('init_preference') }}" class='btn btn-block btn-info'>Réinitialiser les preferences</a>
                <div class="box-body">{{ arbre(sac('preference')) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Préférence de l'utilisateur</h3></div>
                <div class="box-body">{{ arbre(pref()) }}</div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if onglet=='config' %}

        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Config</h3></div>
                <a href="{{ path('init_config') }}" class='btn btn-block btn-info'>Réinitialiser les configurations</a></li>
                <div class="box-body">{{ arbre(sac('config')) }}</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Config ENVIRONNEMENT</h3></div>
                <div class="box-body">
                    {{ arbre(conf) }}
                </div>
            </div>
            <a href="{{ path('init_config_periode') }}" class='btn btn-block btn-info'>Réinitialiser les configurations systeme : periode</a></li>
        </div>

    {% endif %}


    {% if onglet=='description' %}

        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Description</h3></div>
                <div class="box-body">{{ arbre(sac('description')) }}</div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header"><h3>Apps</h3></div>
                <div class="box-body"><div class="tree">{{  arbre(sac('app')) }}</div></div>
            </div>
        </div>
    {% endif %}


    {% if onglet=='tache' %}
        <div class="box">
            {% include('inclure/table_dyn.html.twig') with{'objet_bloc':'tache','datatable':tache_table} only %}
        </div>
        <a class="btn btn-secondary" href="{{ path('init_tache') }}">Réinitialiser la liste des tâches</a>

    {% endif %}
    {% if onglet=='test' %}
        <a class="btn btn-secondary" href="{{ path('test_mail') }}">Envoyer un email de test</a>
    {% endif %}
    {% endif %}

    </div>
    </div>


    <script type="application/javascript">
        $('#contenu ul').treed();
        Cookies.set('name', 'value');
    </script>
{% endblock %}


{% endblock %}
