{% extends 'base.html.twig' %}

{% block entete %}

{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-body">
            <div id="calendar" {% if filtre_calendriers %}data-filtre_calendriers="{{ filtre_calendriers }}"{% endif %}>
            </div>
        </div>
    </div>


{% endblock %}
