{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box my-5">
                <div class="box-body d-inline-flex align-items-center ">
                    <div class="m-3"><img src="{{ asset('assets/images/500.png') }}" alt="shadok 500"/></div>
                    <div class="texte">
                        <h1>Oups...Erreur dans le logiciel.</h1>
                        <p>
                            Une erreur lors de l'execution du code, un rapport d'erreur a été envoyé à l'administrateur.
                        </p><p>
                            <a href="{{ path('agenda') }}" class="btn btn-primary">Retour à la page d'accueil</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}