{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box my-5">
                <div class="box-body d-inline-flex align-items-center ">
                    <div class="p-2"><img src="{{ asset('assets/images/404.png') }}" alt="shadok 404"/></div>
                    <div class="texte">
                        <h1>Page introuvable</h1>

                        <p>
                            Le page demandée est introuvable.
                        </p>
                        <p>
                            <a href="{{ path('agenda') }}" class="btn btn-primary">Retour à la page d'accueil</a>.
                        </p>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}